.todo {
    background-color: rgb(241, 239, 239);
    border-color: #ccc;
    border-style: solid;
    padding: 10px;
    width: 33%;
    margin: 0 auto;
}

.isCompleted {
    text-decoration: line-through;
}